*.so
*.o
*.h5
*.aux
*.log
*.sif
__pycache__/
*.pt
_*.csv
transfer/
Figure_*.pdf
small_physical_systems.pdf
subsystem_new.pdf
experiments/snellius
experiments/lilo
*.egg-info/
build/
experiments/couplings/
experiments/is_frustrated/
experiments/noise/
